
h1{ color: #019BD9 }
ul{
    list-style-type: decimal;
    line-height: 30px;
    color: #848484;
    font-style: italic;
    font-weight: 700;
}
div{
    color: red;
    background: rgba(209, 214, 216, 0);
    padding: 5px 20px;
    margin: -10px;
    font-family: "Times New Roman"
}

p{
  border: 2px solid red;
  height: 1em;
  width: 6em;
  padding: .5em;
  color: #000000;
}
input[type="button"]{
  width: 3em;
  font-size: 2em;
}